#user-1-scale {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: grey;
}

#user-1-scale .bar {
  height: 100%;
  width: 1%;
  background: gold;
}

.username-1{
  position: fixed;
  color: black;
  font-size: 25px;
  left: 50px;
  top:350px;
}

.username-2{
  position: fixed;
  color: black;
  font-size: 25px;
  left: 770px;
  top:350px;
}

#user-2-scale {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background: grey;
}

#user-2-scale .bar {
  height: 100%;
  width: 1%;
  background: gold;
}



/* INPUT  */
.ballot {
  width: 100vw;
  height: 100vh;
}

.btn {
  height: 50%;
  width: 100%;
  position: relative;
}

.btn .title {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  color: black;
}

.mask{
  position: fixed;
}

.maskwhite{
  left: 719px;
  position: fixed;
}

.ballot #btn-yes {
  background: gold;
}

.ballot #btn-no {
  background: grey;
}

/* OUTPUT */
#polls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#polls .column {
  float: left;
  width: 50vw;
  height: 100vh;
  position: relative;
}

#vote-yes-count.column {
  background: black;
}

#vote-no-count.column {
  background: gold;
}

#polls .column .title {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 80%;
  left: 50%;
  color:black;
}



/* DON'T DELETE THIS */

html {
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 10vw;
  font-family: arial;
}

/* Clear Float */

.cf:before,.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.box {
  border: 1px solid red;
  padding: 20px;
  background: gold;
}
